.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

form {
  margin: 20px 0;
}

.form-item {
  margin: 5px 5px;
}

.form-item label input {
  margin-left: 10px;
}
